html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    color: var(--color);
    background: var(--background);
    text-align: left;
    --color: #181818;
    --background: #f8f8f8;
}

#content{
    margin: 0;
}

.inner-width{
    width: 100%;
    max-width: 1100px;
    margin: auto;
}